#root, html, body{
    margin: 0;
    padding: 0;
}

.ml-container {
    overflow-y: auto;
    height: 100%;
    margin: 0;
    padding: 0;
}

.ml-top-bar {
    display: flex;
    width: 100%;
    background-color: #5484FF;
    align-items: center;
    
}

.ml-sci-logo {
    height: 180px;
}

.ml-top-bar h1 {
    flex:7;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    color: #EDEDED;
    margin-left: 40px;
}

.ml-buttons {
    flex: 1;
}

.ml-logout-button {

    border-radius: 15px;
    border-color: transparent;
    border-width: 2px;
    background-color: #ff0000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 20px;
    flex: 3;
    height: 60px;
    margin-right: 10px;

}

.ml-home-button {
    border-radius: 15px;
    border-color: transparent;
    border-width: 2px;
    background-color: #0048ff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 20px;
    flex: 3;
    height: 60px;
    width: 80px;
    margin-right: 10px;
}


.ml-home-button:hover{
    background-color: lightskyblue;
}

.ml-logout-button:hover{
    background-color: lightskyblue;
}


.ml-body-screen {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    min-height: 90vh;
}

.ml-side-bar {
    flex: 1;
    background-color: #EDEDED;
    padding: 30px;
    
}

.ml-side-bar h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    text-align: center;
}

.ml-options {
    font-size: 20px;
    margin-left: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.ml-upload-input {
    display: grid;
    align-items: center;
    height: 100%;
}

.ml-upload-input p {
    grid-column: 1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-right: 20px;
    font-weight: bold;
}

.ml-upload-input input {
    grid-column: 2;
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border-color: transparent;
    font-size: 20px;
}

.ml-file {
    display: grid;
}

.ml-file input {
    margin-top: 20px;
    height: 40px;
    grid-row: 1;

}

.ml-file button {
    border-radius: 15px;
    border-color: transparent;
    border-width: 2px;
    background-color: #0048ff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 20px;
    height: 60px;
    width: 100%;
    margin-top: 20px;

}

.ml-file button:hover {
    background-color: lightskyblue;
}

.ml-sci-main {
    flex: 7;
}

.ml-search {
    margin-left: 40px;
    margin-top: 40px;
}

.ml-search input {
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 30px;
    width: 60%;
    border-radius: 10px;
    text-align: left;
    text-indent: 10px;
    font-size: 20px;
}

.ml-itens-list {
    
    flex-direction: row;
}
